#user_posters{
    margin-top: 40px;
    .dd{
        display: flex;
        flex-wrap: wrap;

        .postcards{
        margin-top: 20px;
        background-color: rgb(110, 110, 110);
        }
        .cardddim{
            box-shadow: rgba(127, 127, 127, 0.35) 0px 5px 15px;
            margin-bottom: 20px;
        }
    }
}